body {
    background-color: rgb(83,119,122);
    background-position: center;

}

.main{
    text-align: center;
    background-color:rgb(236,208,120); 
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:10px;
    margin-right:10px;
}

.docs{
    margin-left:10%;
    margin-right:10%;
}
.item{
    margin-top:10px;
    margin-bottom:10px
}
.content{
    text-align: left;
}

.date{
    text-align: right;
    margin-top:0;
    margin-bottom:0;
}